@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap');



body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 900;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}



a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 15px;
}

.container--flex {
    display: flex;
    justify-content: space-between;
}

.section--light {
    background-color: #f2f2f2;
    color: #666d89;
}

.section--dark {
    background-color: #303441;
    color: #666d89;
}

header {
    color: #fff;
    background-color: #303441;
    padding: 28px 0;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;

    span {
        color: #ee5052;
    }
}

.menu {
    display: flex;
    text-transform: uppercase;
    font-size: 12px;

    li {
        margin-left: 27px;
        list-style-type: none;

        a {
            &:hover {
                color: #eb5055;
            }
        }
    }
}

.section__slide {
    background-color: #eb5055;
}

.section__slide .slider__img {
    background-image: url(../images/Slider.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.section--services {
    padding: 59px 0 36px;

    p {
        font-size: 18px;
        line-height: 30px;
    }
}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 47px;

}

.servicess__list {
    width: 32%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}

.description {
    margin-left: 21px;

    p {
        font-size: 12px;
        margin-top: 3px;
        line-height: 22px;
    }
}

.section--portfolio {
    padding: 58px 0 70px;

    p {
        font-weight: 300;
        font-size: 18px;
        padding-top: 5px;
        margin-bottom: 14px;
    }
}

.portfolio__link {
    a {
        color: #666d89;
        border: 1px solid #666d89;
        padding: 3px 7px;
        border-radius: 5px;
        font-size: 12px;
        margin-right: 5px;

        &:hover {
            color: #dedede;
            border-color: #dedede;
        }
    }
}

.portfolio__img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        margin-top: 22px;
    }
}

.section--aboutUs {
    padding: 58px 0 71px;

    p {
        margin-top: 19px;
        line-height: 30px;
        font-size: 18px;
    }
}

.aboutUs__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 44px;

    img {
        margin-bottom: 12px;
    }

    p {
        font-size: 12px;
        margin-top: 8px;
        line-height: 22px;
    }
}

.aboutUs-card {
    width: 32%;
}

.icon__list {
    margin-top: 22px;

    a {
        margin-right: 5px;
    }
}

.section--red {
    background-color: #eb5055;
    color: #f0d8d9;
}

.section--form {
    padding: 58px 0 75px;

    p {
        margin-top: 19px;
        line-height: 30px;
        font-size: 18px;
    }

    a {
        color: #f0d8d9;
    }
}

.information {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.form {
    min-width: 603px;

    input {
        width: 100%;
        padding: 11px 0px 10px 15px;
        margin-top: 17px;
        outline: none;
        border: none;
        background-color: #ca4549;
        color: #f0d8d9;
        border-radius: 6px;
    }

    textarea {
        width: 100%;
        padding: 11px 0px 159px 15px;
        margin-top: 14px;
        outline: none;
        border: none;
        background-color: #ca4549;
        resize: none;
        color: #f0d8d9;
        border-radius: 6px;
    }
}

::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

::-moz-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}



.contact {
    margin: 11px 0 0 38px;

    p {
        font-size: 12px;
        margin: 8px 0 24px 0;
        line-height: 22px;
    }

    a {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-bottom: 6px;

        div {
            margin-left: 14px;
        }
    }
}

footer {
    padding: 22px 0;

    a {
        margin-left: 5px;
    }
}

.copyright {
    font-size: 12px;
    margin-top: 8px;
}